@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --drkbodybgnd: #222;
  --drkbodyclr: #d1d1d1;
  --drknavbgnd: #111;
  --drknavclr: #818181;
  --drknavhvr: #f1f1f1;
  --lghtbodybgnd: #eee;
  --lghtbodyclr: #222;
  --lghtnavbgnd: #ddd;
  --lghtnavclr: #111;
  --lghtnavhvr: #333;
  --white: #fff;
  --black: #000;
  --green: #0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: var(--drkbodybgnd);
	color: var(--drkbodyclr);
  font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
  height: 100vh;
	z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--drknavbgnd);
  overflow-x: hidden;
  padding-top: 20px;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  margin: 12.5px;
}

nav a {
  text-decoration: none;
	font-size: 25px;
	font-family:  'Courier New', Courier;
  color: var(--drknavclr);
  /* display: block; */
  transition: color 0.2s linear;
}

nav a:hover,
nav a:focus {
  color: var(--drknavhvr);
}

nav a.active {
  color: var(--drknavhvr);
}

.nav-active {
  transform: translateX(0%);
}


.burger {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  z-index: 1000;
  color: var(--drkbodyclr);
  background-color: var(--drknavbgnd);
  font-size: 30px;
  cursor: pointer;
}

/* Common */

main {
  margin-left: 200px;
  margin-top: 40px;
	font-size: 20px;
}

a {
  color: var(--drkbodyclr);
}

h1 {
	font-size: 50px;
  margin-bottom: 30px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

p {
	margin-left: 40px;
	margin-bottom: 30px;
	font-size: 20px;
}

/* About */

#about-list {
  margin-left: 40px;
}

#about-list li {
  list-style-type: disc;
	margin-bottom: 25px;
	font-size: 20px;
}

#about-list li.inner-li {
  list-style-type: circle;
  margin-left: 50px;
}

/* Dev */

#dev-main a {
  margin-left: 40px;
  text-decoration: none;
  transition: color 0.2s linear;
}

#dev-main a:hover,
#dev-main a:focus {
  color: var(--green);
}

/* Contact */

#contact-list {
  margin-left: 80px;
}

#contact-list li {
  list-style-type: circle;
	margin-bottom: 25px;
	font-size: 20px;
}

@media (max-width: 992px) {
  nav {
    padding-top: 10px;
  }
  nav a {
    font-size: 18px;
  }
  main {
    margin-top: 25px;
    margin-left: 150px;
  }
  p {
    margin-left: 30px;
  }
  #dev-main a {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  nav {
    /* display: none; */
    padding-top: 50px;
    opacity: 0.9;
    transform: translateX(-110%);
    transition: transform 0.3s linear;
  }
  main {
    margin: 60px 60px;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  main {
    margin: 60px 20px;
  }
  p {
    margin-left: 25px;
  }
  #dev-main a {
    margin-left: 25px;
  }
  #contact-list {
    margin-left: 45px;
  }
}
